/* .View-h3{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.View-Descriptionbox{
    position: relative;
    left: 10rem;
    top: 13rem;
}
.View-Descriptionbox textarea{
    border: 2px solid cadetblue;
    width: 25%;
    padding: 6%;
    border-radius: 9px;
}
.View-Status{
    position: relative;
    left: 50rem;
    bottom: 7rem;
}
.View-h5-status{
    position: relative;
    left: 50rem;
    bottom: 5rem;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.View-h5-D{
    position: relative;
    left: 17rem; 
    bottom: 2rem;
    font-size: 15px;
} */

